body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  width: 40%;
  
}

header {
  background: url(../img/Fond_ecran.png);
  padding: 30px;
  background-size: cover;
}

h2,
h3 {
  font-weight: 300;
}

.box-title {
  border-radius: 0;
  background: black;
  padding: 50px 70px 20px 70px;

}

.slogan {
  text-align: center;
  padding-bottom: 5px;
  color: #e6f3ff;
  font-size: 15px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px 0px;
}

.section-light {
  background-color: #e6f3ff;
  text-align: center;
  padding: 30px;
  display: flex;
  align-items: center;
}

.section-dark {
  background-color: #11161d;
  padding: 30px;
}

.section-dark h2 {
  color: #e6f3ff;
  text-align: center;
}

.button {
  border-radius: 10px;
  background: #e6f3ff;
  padding: 25px;
  
}

.card {
  width: 40%;
  margin: 10px 0;
  padding-left: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.cta {
  background-color: #11161d;
  color: #e6f3ff;
  border-radius: 13px;
  padding: 10px 40px;
  margin: 10px;
}

.cta-light {
  background-color: #e6f3ff;
  color: #11161d;
  padding: 10px 20px;
}

footer {
  color: #ffffff30;
  text-align: center;
  font-size: 12px;
}