body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}
.box-title{

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px 0px;
}

.section-light {
  background-color: #e6f3ff ;
}
.slogan{
  text-align: center;
}

.section-dark{
  background-color: #11161d;
.button{
  border-radius: 10px;
  background: #e6f3ff;
  padding: 20px;
  margin: 30px;
  
}

.cta{
  background-color: #11161d;
}

.cta-light{
  background-color:#e6f3ff ;
}

.section-dark h2 {
  color:#e6f3ff ;
}
